* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #2196F3;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 16px;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #0b7dda;
    transform: translateY(-4px);
}

.dropdown-btn {
    position: relative;
}

.dropdown-btn:hover::after {
    content: " ▼";
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 18px;
    color: white;
}

.app-link a {
    background-color: #FF9800;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.app-link a:hover {
    background-color: #e68900;
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

section ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 16px;
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
